.cardContainer {
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.cardContainer .cardHeader {
  padding: 15px 15px 0;
  background-color: #fff;
  border-bottom: none !important;
  margin-bottom: 0;
}

.cardContainer .cardBody {
  padding: 15px 15px 10px;
  flex: 1 1 auto;
  min-height: 1px;
}
